/**
 * This file is part of Shashin. Please see the Shashin.php file for
 * copyright and license information.
 *
 * @author Michael Toppa
 * @version 2.2.1
 */
 
/* The following are applied to the simage and srandom tags */
.shashin_image {
    display: block;
    margin: 5px;
    background-color: White;
    border: thin solid Black;
}

.shashin_image img {
    padding: 5px; /* double this for shashin_div_padding option */
    border: none;
}

.shashin_image:hover {
	border-color: Silver;
}

.shashin_caption {
    display: block;
    padding: 0px 5px 0px 5px;
    font-size: x-small;
    font-weight: bold;
}

/* Applied to salbum tag */
.shashin_album {
    display: block;
    margin: 5px;
    background-color: White;
    border: thin solid;
    text-align: center;
}

.shashin_album img {
    padding: 5px;
    border: none;
}

.shashin_album_title {
    display: block;
    padding: 0px 5px 0px 5px;
    font-size: x-small;
    font-weight: bold;
}

.shashin_album_count {
    display: block;
    padding: 0px 5px 0px 5px;
    font-size: x-small;
}

.shashin_album_location {
    display: block;
    padding: 0px 5px 0px 5px;
    font-size: x-small;
}

.shashin_album_date {
    display: block;
    padding: 0px 5px 0px 5px;
    font-size: x-small;
}

/* Applied to salbumthumbs tag */
.shashin_album_thumbs_table {
    margin: 5px;
}

.shashin_album_thumbs_table td {
    text-align: center;
    margin: 3px;
    vertical-align: top;
}

/* Applied to sthumbs, srandom, and snewest tags */
.shashin_thumbs_table {
    margin: 5px;
}

.shashin_thumbs_table td {
    text-align: center;
    margin: 3px;
    vertical-align: top;
}

.shashin_thumbs_table caption {
    text-align: left;
    margin: 5px;
}

.shashin_thumb {
    margin-left: auto;
    margin-right: auto;
    background-color: White;
    border: thin solid Black;
}

.shashin_thumb:hover {
	border-color: Silver;
}

.shashin_thumb img {
    padding: 3px; /* double this for shashin_thumb_padding option */
    border: none;
}

/* Applied to error messages */
.shashin_error {
    color: Red;
    font-weight: bold;
}

/* Applied to salbumlist */
.shashin_album_list {
    clear: both;
}

.shashin_album_list_thumb {
    float: left;
    margin: 5px;
    background-color: White;
    border: thin solid;
}

.shashin_album_list_thumb img {
    padding: 5px;
    border: none;
}

